.order-page-wrapper {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-page-wrapper .order-page-container {
    padding: 2.5rem 1.5rem;
    width: 100%;
    max-width: 78.175rem;
}
.order-page-container > .page-title {
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    color: var(--primary-clr);
}
.order-page-container > .main-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.75rem;
    margin-top: 2rem;
}

/* ============================
Left COl
==============================*/
.order-page-container .main-row > .left-col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.order-page-container .main-row > .left-col > .sub-row {
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 0.5rem;
}

.order-page-container .main-row > .left-col > .sub-row > .title {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--accent-clr);
    text-transform: capitalize;
}
.order-page-container > .main-row .shipping-add-row .input-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
}
.order-page-container > .main-row .shipping-add-row .input-row {
    display: flex;
    flex-direction: column;
}
.order-page-container > .main-row .input-row .input-label {
    font-size: 0.625rem;
    font-weight: 600;
    opacity: 0.8;
    color: var(--black-clr);
    margin-bottom: 0.2rem;
    text-transform: capitalize;
}

.order-page-container > .main-row .input-row .input-field {
    border: 2px solid rgba(0, 0, 0, 0.3);
    outline: none;
    width: 100%;
    padding: 0.2rem 0.6rem;
    border-radius: 0.25rem;
    font-size: 0.85rem;
    color: var(--black-clr);
    font-weight: 400;
    margin-top: 0.1rem;
    margin-bottom: 0;
}
.order-page-container > .main-row .input-row .input-field:focus {
    border-color: rgba(0, 0, 0, 0.5);
}
.order-page-container > .main-row .input-row .input-error {
    margin-top: 0.15rem;
    font-size: 0.625rem;
    font-weight: 600;
    opacity: 0.85;
    color: rgb(238, 54, 54);
}

/* shipping methods */
.order-page-container > .main-row .payment-row .method-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.75rem;
    margin-top: 1rem;
}
.order-page-container > .main-row .method-container .method-card {
    background-color: #e3e3e3;
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.order-page-container > .main-row .method-card .left .title {
    font-size: 0.83rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--primary-clr);
    opacity: 0.8;
}
.order-page-container > .main-row .method-card .left .info {
    font-size: 0.65rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--accent-clr);
    opacity: 0.9;
    margin-top: 0.15rem;
}

.order-page-container > .main-row .method-card .right .icon {
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: var(--white-clr);
    border: 2px solid var(--primary-clr);
    border-radius: 50%;
}
.order-page-container > .main-row .method-card .right .icon.select {
    border: 0.25rem solid var(--primary-clr);
}

/* button */
.order-page-container > .main-row > .left-col .place-order-btn {
    background-color: var(--secondary-clr);
    color: var(--primary-clr);
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    letter-spacing: 0.1px;
    margin-top: 1.25rem;
}
.order-page-container > .main-row > .left-col .place-order-btn:hover {
    background-color: var(--primary-clr);
    color: var(--white-clr);
}

/* ============================
Right COl
==============================*/
.order-page-container .main-row > .right-col {
    background-color: #fff;
    padding: 1.25rem 1rem;
    border-radius: 0.5rem;
    height: fit-content;
}
.order-page-container .main-row > .right-col > .title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--accent-clr);
}
.order-page-container .main-row > .right-col > .title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--accent-clr);
}
.order-page-container .main-row .right-col > .cost-row {
    margin-top: 1.25rem;
}
.order-page-container .main-row .right-col > .cost-row > .sub-total {
    display: flex;
    justify-content: space-between;
    align-content: ;
    font-size: 0.8rem;
    color: var(--accent-clr);
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 0.35rem;
}
.order-page-container
    .main-row
    .right-col
    > .cost-row
    > .sub-total
    > .value
    > .tk {
    font-size: 0.6rem;
    margin-left: 0.25rem;
    text-transform: uppercase;
}

.order-page-container .main-row .right-col > .cost-row > .total {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    margin-top: 0.5rem;
    padding-top: 0.25rem;
}
.order-page-container .main-row .right-col > .cost-row > .total > .value {
    color: var(--primary-clr);
    font-size: 0.85rem;
    font-weight: 700;
}
.order-page-container .main-row .right-col > .cost-row > .total > .value > .tk {
    color: var(--accent-clr);
}
