.resturent-d-left-sidebar .resturent-sidebar-close-btn {
    position: absolute;
    right: -15px;
    top: 10px;
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--white-clr);
    background-color: #444444;
    padding: 0.2rem 0.25rem;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 992px) {
    .resturent-d-left-sidebar .resturent-sidebar-close-btn {
        display: block;
    }
}

/* avatar row */
.resturent-d-left-sidebar .top-row .avatar-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.resturent-d-left-sidebar .top-row .avatar-row .avatar {
    font-size: 3rem;
    text-align: center;
    color: var(--accent-clr);
}
.resturent-d-left-sidebar .top-row .avatar-row .username {
    font-size: 0.95rem;
    font-weight: 700;
    text-transform: capitalize;
    text-overflow: ellipsis;
    text-align: center;
    color: var(--accent-clr);
    margin-top: 0.1rem;
}
.resturent-d-left-sidebar .top-row .avatar-row .role {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: capitalize;
    text-overflow: ellipsis;
    text-align: center;
    color: var(--accent-clr);
    opacity: 0.9;
    margin-top: 0.1rem;
}

/* sidebar menu */
.resturent-d-left-sidebar .sidebar-menu {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

@media screen and (max-width: 992px) {
    .resturent-d-left-sidebar .sidebar-menu {
        width: 100%;
        height: 100%;
        max-width: 250px;
    }
}
.resturent-d-left-sidebar .top-row > .sidebar-menu li .menu-link {
    display: inline-flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--black-clr);
    opacity: 0.75;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
}
.resturent-d-left-sidebar .top-row > .sidebar-menu li .menu-link > .icon {
    margin-right: 0.5rem;
    font-size: 1.15rem;
}
.resturent-d-left-sidebar .top-row > .sidebar-menu li .menu-link.active {
    color: var(--white-clr);
    opacity: 0.95;
    background-color: var(--primary-clr);
}

/* logout button */
.resturent-d-left-sidebar .top-row > .logout-row {
    width: 100%;
}
.resturent-d-left-sidebar .logout-row > .resturent-d-logout-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #2e2e2e;
    color: var(--white-clr);
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0.35rem 0;
    border-radius: 0.25rem;
}
.resturent-d-left-sidebar .logout-row > .resturent-d-logout-btn > .icon {
    font-size: 1.2rem;
    margin-right: 0.3rem;
}
.resturent-d-left-sidebar .logout-row > .resturent-d-logout-btn:hover {
    background-color: #1f1f1f;
}
