@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    transition: all 0.3s linear;
}

html {
    font-size: 100%; /* default browser "font-size:16px" */
}

:root {
    /* --primary-clr: #eb4a4a;
    --secondary-clr: #d82e2e; */
    --primary-clr: #ff0844;
    --secondary-clr: #ffb199;
    --accent-clr: #4d4d4d;
    --white-clr: #fff;
    --black-clr: #000;
}

.input-err-msg {
    font-size: 0.7rem;
    font-weight: 400;
    color: #f32f2f;
    text-transform: capitalize;
    margin-top: 0.15rem;
}
