.user-order-page-wrapper > .user-order-table-container {
    margin-top: 2rem;
    overflow-x: auto;
}

.user-order-page-wrapper .user-order-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
    min-width: 800px;
}

.user-order-page-wrapper .user-order-table th:nth-child(1) {
    width: 12%;
}
.user-order-page-wrapper .user-order-table th:nth-child(2) {
    width: 11%;
}
.user-order-page-wrapper .user-order-table th:nth-child(3) {
    width: 12%;
}
.user-order-page-wrapper .user-order-table th:nth-child(4) {
    width: 8%;
}
.user-order-page-wrapper .user-order-table th:nth-child(5) {
    width: 18%;
}

.user-order-page-wrapper .user-order-table thead tr {
    background-color: var(--primary-clr);
    color: var(--white-clr);
}
.user-order-page-wrapper .user-order-table thead tr th {
    border-right: 1px solid #ff9e9e;
    font-weight: 500;
}

.user-order-page-wrapper .user-order-table tbody tr:nth-child(even) {
    background-color: #edebeb;
}

.user-order-page-wrapper .user-order-table th,
.user-order-page-wrapper .user-order-table td {
    padding: 0.5rem;
    text-align: center;
}
.user-order-page-wrapper .user-order-table td {
    border-right: 1px solid #ddd;
}

.user-order-page-wrapper .user-order-table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: capitalize;
}
.user-order-page-wrapper .user-order-table tr td {
    font-size: 0.8em;
    font-weight: 400;
    color: var(--accent-clr);
}

.user-order-page-wrapper .user-order-table tr td span.currency {
    font-size: 0.75em;
    font-weight: 600;
    color: var(--accent-clr);
    margin-left: 2px;
}

.user-order-page-wrapper .user-order-table tr td span.badge {
    display: inline-block;
    font-size: 0.7rem;
    text-transform: capitalize;
    font-weight: 400;
    padding: 1px 0.45rem;
    border-radius: 0.25rem;
}

.user-order-table tr td span.badge.pending {
    background-color: #ffd79a;
    color: #462200;
}
.user-order-table tr td span.badge.delivered {
    background-color: #a7ffd0;
    color: #06391e;
}
.user-order-table tr td span.badge.canceled {
    background-color: #ffbdb4;
    color: #bf0101;
}

/* action button */
.user-order-page-wrapper .action-row {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.user-order-page-wrapper .action-btn {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: capitalize;
    font-size: 0.7rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s linear;
    padding: 0.12rem 0.625rem;
    border-radius: 0.25rem;
}

.user-order-page-wrapper .action-btn.view {
    background-color: #b4ffb4;
    color: #002500;
}
.user-order-page-wrapper .action-btn.view:hover {
    background-color: #41db41cf;
    color: #002500;
}

.user-order-page-wrapper .action-btn.delete {
    background-color: #ffb6b6;
    color: #000;
}
.user-order-page-wrapper .action-btn.delete:hover {
    background-color: #b62626;
    color: #fff;
}

/* Order Modal */

.order-modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-modal-container > .modal-card {
    width: 90%;
    max-height: 90%;
    height: fit-content;
    padding: 2rem 1.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.order-modal-container > .modal-card > .close-btn {
    width: 1.75rem;
    height: 1.75rem;
    background-color: var(--secondary-clr);
    color: var(--primary-clr);
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;
}
.order-modal-container > .modal-card > .close-btn:hover {
    background-color: var(--primary-clr);
    color: var(--white-clr);
}
.order-modal-container > .modal-card > .order-modal-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--accent-clr);
}

/* modal table */
.order-modal-container > .modal-card > .card-body {
    overflow-x: auto;
    overflow-y: auto;
    height: 100%;
    margin-top: 1.5rem;
}
.card-body > .card-order-table {
    border-collapse: collapse;
    width: 100%;
    min-width: 500px;
}
.card-body > .card-order-table thead {
    background-color: var(--primary-clr);
    color: var(--white-clr);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}
.card-body > .card-order-table thead td {
    padding: 0.5rem;
    text-align: center;
    border-right: 1px solid #ff9e9e;
    text-transform: capitalize;
    font-size: 0.85em;
    letter-spacing: 0.1em;
    font-weight: 500;
}
.card-body > .card-order-table thead td:last-child {
    border-right: none;
}

.card-body > .card-order-table tbody td {
    padding: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--accent-clr);
}

.card-body > .card-order-table tr > td > .food-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.7rem;
}
.card-body > .card-order-table tr > td > .food-info > .thumb {
    object-fit: cover;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.25rem;
}
.card-body > .card-order-table tr > td > .food-info > .title {
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--accent-clr);
}
.card-body > .card-order-table tr > td > .taka {
    font-size: 0.65rem;
    font-weight: 500;
    margin-left: 2px;
}

.card-body > .card-order-table tfoot tr {
    background-color: #ececec;
}
.card-body > .card-order-table tfoot td {
    padding: 0.75rem;
    text-transform: capitalize;
    font-size: 0.85em;
    letter-spacing: 0.1em;
    font-weight: 400;
}

.card-body > .card-order-table tfoot tr td.value {
    color: var(--primary-clr);
    font-weight: 600;
    font-size: 0.9rem;
    text-align: center;
}
