.dashboard-page-title-row .dashboard-page-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    color: var(--accent-clr);
    line-height: 1.5rem;
}

.dashboard-page-title-row .dashboard-page-subtitle {
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--accent-clr);
    opacity: 0.85;
    margin-top: 0.5rem;
}
