.auth-form-container {
    background-color: #eaeaea;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

.auth-form {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}
.auth-form .auth-title-row {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.auth-form .auth-title-row > .form-name {
    font-weight: 700;
    font-size: 0.85rem;
    color: var(--primary-clr);
    text-align: center;
    text-transform: uppercase;
    line-height: 1rem;
}
.auth-form .auth-title-row > .title {
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--black-clr);
    text-align: center;
}
/* .auth-form .auth-title-row > .title > .fancy {
    font-weight: bold;
    color: var(--black-clr);
} */

.auth-form .input-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
}

.auth-form .input-row > label {
    font-size: 0.77rem;
    font-weight: 600;
    color: var(--black-clr);
    opacity: 0.7;
    text-transform: capitalize;
}
.auth-form .input-row > input {
    width: 100%;
    outline: none;
    border: 1px solid #c1c1c1;
    border-radius: 0.25rem;
    padding: 0.3rem 0.75rem;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 0.25rem;
    color: var(--black-clr);
}
.auth-form .input-row > input:focus {
    border: 1px solid #535353;
}

.auth-form .input-row > .input-error {
    font-size: 0.7rem;
    font-weight: 600;
    color: rgb(199, 50, 50);
    opacity: 0.9;
    margin-top: 0.1rem;
}

.auth-form .show-pass-toggler {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.auth-form .show-pass-toggler > label {
    margin-left: 0.25rem;
    font-size: 0.75rem;
    font-weight: 600;
    color: #535353;
    text-transform: capitalize;
}

.auth-form .input-row.auth-btn-row > button {
    width: 100%;
    background-image: linear-gradient(to right, #eb4a4a, #d82e2e);
    color: var(--white-clr);
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #c74d4d;
    outline: none;
    letter-spacing: 1px;
}
.auth-form .input-row.auth-btn-row > button:hover {
    background-image: linear-gradient(to left, #eb4a4a, #d82e2e);
    border: 1px solid #d82e2e;
}
.auth-form .form-toggler-text {
    font-size: 0.8rem;
    font-weight: 600;
    color: #3f3f3f;
    text-align: center;
}
.auth-form .form-toggler-text > span {
    font-size: 0.8rem;
    font-weight: 700;
    color: #d82e2e;
    opacity: 1;
    margin-left: 0.25rem;
    cursor: pointer;
    text-decoration: underline;
    text-transform: capitalize;
}
.auth-form .form-toggler-text > span:hover {
    color: #ab1313;
}
